@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400&display=swap');
:root
{
    /* ========== Colors ========= */
    --blue: #287bff;
    --white: #fff;
    --dark-white: #f5f5f5;
    --black: #222;
    --gray: #999;
    --green: #29fd53;
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;

    /* ========== Fonts ========= */
    --body-font: 'Almarai', sans-serif;
    --large-font-size: 1.5rem;
    --medium-font-size: 1.2rem;
    --normal-font-size: 0.938rem;
}
/* ===================== Base ==================== */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}
html
{
    scroll-behavior: smooth;
}
body
{
    direction: rtl;
    font-size: var(--normal-font-size);
    background-color: var(--white);
    color:var(--black);
}
/* ========================= body for all pages ============================= */
/* ========================= body for all pages ============================= */
/* ========================= body for all pages ============================= */
/* ========================= body for all pages ============================= */
/* ========================= body for all pages ============================= */
.container
{
    margin: 4rem 1rem 5rem 1rem;
}

/* ========================= header ============================= */
/* ========================= header ============================= */
/* ========================= header ============================= */
/* ========================= header ============================= */
/* ========================= header ============================= */
.header
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    background-color: var(--blue);
    transition: 0.4s;
}
.nav{
    height: 3rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.nav_img
{
    width: 32px;
    border-radius: 50%;
}
.nav_logo
{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--dark-white);
    font-weight: 600;
    padding-left: 3px;
    border-left: 3px solid var(--green);
}
.nav_list,
.nav_link
{
    list-style: none;
    display: flex;
}
.nav_link
{
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    color: var(--dark-white);
    font-weight: 600;
}
.nav_name
{
    opacity: 0.5;
    transition: 0.4s;
}
.nav_icon
{
    opacity: 0.5;
    font-size: 1.5rem;
    transition: 0.4s;
}
.nav_item.activated .nav_icon
{
    opacity: 1;
}
.nav_item.activated .nav_name
{
    opacity: 1;
}
.nav_item.activated
{
    border-bottom: 4px solid var(--green);
}
/* ========================= call us ============================= */
/* ========================= call us ============================= */
/* ========================= call us ============================= */
/* ========================= call us ============================= */
/* ========================= call us ============================= */
.message
{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-color: var(--white);
    box-shadow: 0 0 10px;
}
.message p
{
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 50px;
}
.name
{
    width: 100%;
}
.name input , .name textarea
{
    margin-bottom: 20px;
    width: 100%;
    padding: 7px;
}
.name textarea
{
    height: 180px;
}
.message input::placeholder, .message textarea::placeholder
{
    color: var(--black);
}
.btn
{
    margin: 0 auto;
    width: 25%;
}
.btn button
{
    color: var(--white);
    width: 100%;
    height: 40px;
    border:none;
    background-color: var(--blue);
    border-radius: 3px;
    box-shadow: 5px 5px 5px var(--black);
    font-weight: 900;
    cursor: pointer;
    transition: 0.05s;
}
.btn button:active
{
    transform: translateY(3px);
    box-shadow: 0px 0px 0px var(--black);

}
.info
{
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--blue);
    height: 100%;
}
.info p
{
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 50px;
}
.info1
{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    display: flex;
    align-items: center;
}
.info1 ion-icon
{
    font-size: 2em;
    margin-left: 10px;
}
.call-us-main
{
    font-size: 0.9em;
    display: flex;
    align-items: center;
}
.contain-call
{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#d1
{
    width: 100%;
}
#d2
{
    width: 100%;
}
/* ========================= profile ============================= */
/* ========================= profile ============================= */
/* ========================= profile ============================= */
/* ========================= profile ============================= */
/* ========================= profile ============================= */
.profileContainer {
    margin-top: 5rem;
    width: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.pages {
    box-shadow: 0px 0px 3px #00000066;
    margin: 0 auto;
    position: relative;
    transition: all 0.4s;
    display: flex;
    align-items: center;
}
.pages .page {
    min-width: 100%;
    padding: 10px 15px 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brand-logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.page h2{
    margin-bottom: 0;
    color: #333333;
}
.page p{
    margin-top: 10px;
}
.pages .page .title {
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    line-height: 14px;
}
.pages .page .input {
    width: 100%;
    margin-top: 20px;
    padding: 0 30px;
}
.pages .page input.text {
    background: #f6f7f9;
    border: none;
    box-shadow: 0px 0px 1px 1px #00000044;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
.pages .page input[type=submit] {
    margin-top: 15px;
    background: #E60023;
    color: #f6f7f9;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 3px #00000044;
    transform: translateY(-3px);
}
.pages .page input[type=submit]:active
{
    transform: translateY(0px);
}
.table tr:nth-child(odd)
{
    background-color: #22222222;
}
.table tr:nth-child(1)
{
    background-color: var(--blue);
    border: 1px solid var(--black);
}

/* ======================== use less ============================ */
body{
    background-color: whitesmoke;
}
.section_title
{
    border-radius: 10px;
    box-shadow: -8px -8px 8px white , 8px 8px 10px #22222244;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 1rem;
}


/* ============================= admin side bar =================================== */



.navContainer
{
    margin-top: 4.5rem;
    position: relative;
    z-index: 999;
    width: 100%;
    
}
.navigation
{
    position: fixed;
    width: 80px;
    height: calc(100% - 4.5rem);
    background: var(--blue);
    border-right: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;   
}
.navigation.slid1{
    width: 300px;
}
.navigation ul
{
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
}
.navigation ul li
{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    list-style: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.navigation ul li.hovered
{
    background: var(--white);
}
.tcc
{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: var(--white);
}
.title
{
    position: relative;
    display: block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    text-align: start;
}
.navigation ul li a
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li.hovered a
{
    color: var(--blue);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    position: relative;
    z-index: 999;
    font-size: 1.75em;
}
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    background: var(--blue);
    width: 50px;
    height: 50px;
    left: 0;
    top: -50px;
    border-radius: 50%;
    box-shadow: -35px 35px 0 10px var(--white);
}
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    background: var(--blue);
    width: 50px;
    height: 50px;
    left: 0;
    bottom: -50px;
    border-radius: 50%;
    box-shadow: -35px -35px 0 10px var(--white);
}
.main
{
    
    position: relative;
    width: calc(100% - 80px);
    right: 80px;
    min-height: 100vh;
    background-color: var(--white);
    transition: 0.5s;
}
.main.slid2{
    width: calc(100% - 300px);
    right: 300px;
}
.user-img
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 75px;
    text-align: center;
    z-index: 777;
}
.user-img img
{
    position: relative;
    width: 50px;
    border-radius: 50%;
}


.switch
{
    margin-left: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.switch2
{
    margin-left: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.switch ion-icon
{
    font-size: 2.5em;
}
.switch2 ion-icon
{
    font-size: 2.5em;
}
















/* ============ Responsive Screen =========== Responsive Screen =========== */
/* ============ Responsive Screen =========== Responsive Screen =========== */
/* ============ Responsive Screen =========== Responsive Screen =========== */
/* ============ Responsive Screen =========== Responsive Screen =========== */
/* ============ Responsive Screen =========== Responsive Screen =========== */
/* ============ Responsive Screen =========== Responsive Screen =========== */
/* 000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000000000000000000000000000000 */
/* 000000000000000000000000000000000000000000000000000000000000000000000000 */
/* ==================== very small screen 300px max ================== */
/* ==================== very small screen 300px max ================== */
/* ==================== very small screen 300px max ================== */
/* ==================== very small screen 300px max ================== */
/* ==================== very small screen 300px max ================== */
@media screen and (max-width: 300px)
{
    /* ========================= header ============================= */
    .nav_name
    {
        display: none;
    }
    .nav_list
    {
    justify-content: space-around;
    }
    /* ========================= library ============================= */

    /* ========================= profile ============================= */
    .pages
    {
        width: 240px;
    }
    .det_table
    {
        /* border-right: 3px solid var(--green); */
        background-color: var(--dark-white);
        margin: 0 auto 20px auto;
        padding: 5px;
        font-size: var(--normal-font-size);
    }
    .table
{
    font-weight: 300;
    width: 100%;
    text-align: center;
}
/* .table tr,
.table td
{
    border: 1px solid;
} */
.table td
{
    width: 20%;
    height: 45px;
}
.det_title
{
    font-size: var(--medium-font-size);
    font-weight: 600;
    margin: 10px 0;
}

    .student_info
    {
        width: 100%;
        line-height: 30px;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .student_info tr , .student_info td
    {
        border: 1px solid;
    }

    .student_info tr td:nth-child(1)
    {
        padding-right: 10px;
    }
    .student_info tr td:nth-child(2)
    {
        text-align: center;
    }
    /* ========================= staff ============================= */

    /* ========================= call us ============================= */

    /* ========================= exam ============================= */
    
}
/* ==================== small screen start from 300px ================== */
/* ==================== small screen start from 300px ================== */
/* ==================== small screen start from 300px ================== */
/* ==================== small screen start from 300px ================== */
/* ==================== small screen start from 300px ================== */
@media screen and (min-width: 300px)
{
    /* ========================= header ============================= */
    .nav_list
    {
    justify-content: space-around;
    }
    /* ========================= library ============================= */

    /* ========================= profile ============================= */
    .det_table
{
    /* border-right: 3px solid var(--green); */
    background-color: var(--dark-white);
    margin: 0 auto 20px auto;
    padding: 5px;
    font-size: var(--normal-font-size);
}
.table
{
    font-weight: 600;
    width: 100%;
    text-align: center;
}
/* .table tr,
.table td
{
    border: 1px solid;
} */
.table td
{
    width: 20%;
    height: 45px;
}
.det_title
{
    font-size: var(--medium-font-size);
    font-weight: 600;
    margin: 10px 0;
}
    .student_info
    {
        width: 100%;
        line-height: 30px;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .student_info tr , .student_info td
    {
        border: 1px solid;
    }

    .student_info tr td:nth-child(1)
    {
        padding-right: 10px;
    }
    .student_info tr td:nth-child(2)
    {
        text-align: center;
    }
    /* ========================= staff ============================= */

    /* ========================= call us ============================= */

    /* ========================= exam ============================= */

}
/* ==================== small screen 570px max ================== */
/* ==================== small screen 570px max ================== */
/* ==================== small screen 570px max ================== */
/* ==================== small screen 570px max ================== */
/* ==================== small screen 570px max ================== */
@media screen and (max-width: 570px)
{
    /* ========================= header ============================= */

    /* ========================= library ============================= */

    /* ========================= profile ============================= */

    /* ========================= staff ============================= */

    /* ========================= call us ============================= */
    .call-us-main
    {
        width: 100%;
    }

    /* ========================= exam ============================= */

}
/* ==================== medium screen start from 570px ================== */
/* ==================== medium screen start from 570px ================== */
/* ==================== medium screen start from 570px ================== */
/* ==================== medium screen start from 570px ================== */
/* ==================== medium screen start from 570px ================== */
@media screen and (min-width: 570px)
{
    /* ========================= header ============================= */
    .nav_list
    {
        justify-content: center;
        column-gap: 3rem;
    }
    /* ========================= library ============================= */

    /* ========================= profile ============================= */
    .pages
    {
        width: 400px;
    }
    .studentGrades
    {
        width: 80%;
        margin: 5rem auto;
    }
    /* ========================= staff ============================= */

    /* ========================= call us ============================= */
    .call-us-main
    {
        width: 70%;
        margin: 0 auto;
    }
    /* ========================= exam ============================= */

}
/* ==================== medium screen 767px max ================== */
/* ==================== medium screen 767px max ================== */
/* ==================== medium screen 767px max ================== */
/* ==================== medium screen 767px max ================== */
/* ==================== medium screen 767px max ================== */
@media screen and (max-width: 767px)
{
    /* ========================= header ============================= */
    .nav_name
    {
        font-size: 0.9em;
    }
    .nav_item.activated .nav_icon
    {
    transform: translateY(-3px);    
    }

    #li7
    {
        display: none;
    }
    .nav_menu
    {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: var(--blue);
        box-shadow: 0 -1px 10px #00000044;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: 0.4s;
    }
    /* ========================= library ============================= */

    /* ========================= profile ============================= */

    /* ========================= staff ============================= */

    /* ========================= call us ============================= */
    .call-us-main
    {
        margin-top: 4rem;
    }
    .contain-call
    {
        width: 100%;
        flex-direction: column;
    }
    .message
    {
        width: 90%;
        margin-bottom: 20px;
    }
    .info
    {
        width: 90%;
        margin-bottom: 5rem;
        border-radius: 20px;
    }
    /* ========================= exam ============================= */

}
/* ==================== large screen start from 767px ================== */
/* ==================== large screen start from 767px ================== */
/* ==================== large screen start from 767px ================== */
/* ==================== large screen start from 767px ================== */
/* ==================== large screen start from 767px ================== */
@media screen and (min-width: 767px)
{
    /* ========================= header ============================= */
    .nav_menu
    {
        width: 75%;
    }
    .nav_list
    {
        justify-content: space-around;
    }
    .nav
    {
        height: 4.5rem;        
    }
    .nav_img
    {
        display: none;
    }
    .nav_icon
    {
        display: none;
    }
    .nav_name
    {
        font-size: 1.1rem;
    }
    /* ========================= library ============================= */

    /* ========================= profile ============================= */
    .profileContainer
    {
        margin-top: 7rem;
    }
    .container
    {
        margin-top: 6rem;
    }
    .pages
    {
        width: 500px;
    }
    .table
{
    font-weight: 900;
    font-size: 1.2rem;
}
    /* ========================= staff ============================= */

    /* ========================= call us ============================= */
    .call-us-main
    {
        margin-top: 6rem;
        width: 100%;
    }
    .contain-call
    {
        width: 60%;
        height: 80vh;
    }
    .message
    {
        width: 60%;
    }
    .info
    {
        width: 40%;
    }
    /* ========================= exam ============================= */
}